<!DOCTYPE html>
<html lang="en">
  <%- include("includes/head") %>
<body>
  <header>
    <h2><a href="/">Our Wonderful App</a></h2>
    <nav>
     <a href="/register">Sign Up</a>
      <a href="/login">Log In</a>
      <a href="/logout">Log Out</a>
      
    </nav>

  </header>
  <main>
    
  
    <h3>Hello! this is the homepage</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, necessitatibus maxime. Eius nam, nemo tenetur voluptate quae magnam blanditiis. Ea ducimus eaque exercitationem hic! Exercitationem delectus quam illo expedita recusandae?</p>
    
   </main>
   <%- include("includes/footer") %>
</body>
</html>
